$corporation0-color: #f00;
$corporation1-color: #fdd017;
$corporation2-color: #f57c00;
$corporation3-color: #3c763d;
$corporation4-color: #00f;
$corporation5-color: #800080;
$corporation6-color: #40e0d0;
$unincorporated: #333;
$empty: #000;
$board-fill: #0f4f77;