svg .empty {
    fill: #000;
}

svg .tile {
    /*fill: #666;*/
    cursor: pointer;
}

svg .unincorporated {
    fill: #777;
}

$corporation0-color: #f00;
$corporation1-color: #fdd017;
$corporation2-color: #f57c00;
$corporation3-color: #3c763d;
$corporation4-color: #00f;
$corporation5-color: #800080;
$corporation6-color: #40e0d0;

svg .c0{
    fill: $corporation0-color;
}

svg .c1{
    fill: $corporation1-color;
}

svg .c2{
    fill: $corporation2-color;
}

svg .c3{
    fill: $corporation3-color;
}

svg .c4{
    fill: $corporation4-color;
}

svg .c5{
    fill: $corporation5-color;
}

svg .c6{
    fill: $corporation6-color;
}

svg #board {
  fill: #0f4f77;
}

.c0{
    color: #f00;
}

.c1{
    color: #fdd017;
}

.c2{
    color: #f57c00;
}

.c3{
    color: #3c763d;
}

.c4{
    color: #00f;
}

.c5{
    color: #800080;
}

.c6{
    color: #40e0d0;
}

.panel-default>.panel-heading .badge.c0,
td .badge.c0 {
  background-color: #f00;
  color: #fff;
}

.panel-default>.panel-heading .badge.c1,
td .badge.c1 {
  background-color: #fdd017;
  color: #fff;
}

.panel-default>.panel-heading .badge.c2,
td .badge.c2 {
  background-color: #f57c00;
  color: #fff;
}

.panel-default>.panel-heading .badge.c3,
td .badge.c3 {
  background-color: #3c763d;
  color: #fff;
}

.panel-default>.panel-heading .badge.c4,
td .badge.c4 {
  background-color: #00f;
  color: #fff;
}

.panel-default>.panel-heading .badge.c5,
td .badge.c5 {
  background-color: #800080;
  color: #fff;
}

.panel-default>.panel-heading .badge.c6,
td .badge.c6 {
  background-color: #40e0d0;
  color: #fff;
}

textarea {
   resize: none;
}

.table>thead>tr>th {
    border-bottom: none;
}

.table>tbody>tr>td {
    border-top: none;
}