@import 'colors';
@import 'overrides';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

svg .empty {
    fill: $empty;
}

svg .tile {
    fill: url(#tile-texture);
    cursor: pointer;
}

svg .unincorporated {
    fill: $unincorporated;
}

svg .c0{
    fill: $corporation0-color;
}

svg .c1{
    fill: $corporation1-color;
}

svg .c2{
    fill: $corporation2-color;
}

svg .c3{
    fill: $corporation3-color;
}

svg .c4{
    fill: $corporation4-color;
}

svg .c5{
    fill: $corporation5-color;
}

svg .c6{
    fill: $corporation6-color;
}

svg #board {
  fill: #0f4f77;
}

.c0{
    color: $corporation0-color;
}

.c1{
    color: $corporation1-color;
}

.c2{
    color: $corporation2-color;
}

.c3{
    color: $corporation3-color;
}

.c4{
    color: $corporation4-color;
}

.c5{
    color: $corporation5-color;
}

.c6{
    color: $corporation6-color;
}

.panel-default>.panel-heading .badge.c0,
td .badge.c0 {
  background-color: $corporation0-color;
  color: #fff;
}

.panel-default>.panel-heading .badge.c1,
td .badge.c1 {
  background-color: $corporation1-color;
  color: #fff;
}

.panel-default>.panel-heading .badge.c2,
td .badge.c2 {
  background-color: $corporation2-color;
  color: #fff;
}

.panel-default>.panel-heading .badge.c3,
td .badge.c3 {
  background-color: $corporation3-color;
  color: #fff;
}

.panel-default>.panel-heading .badge.c4,
td .badge.c4 {
  background-color: $corporation4-color;
  color: #fff;
}

.panel-default>.panel-heading .badge.c5,
td .badge.c5 {
  background-color: $corporation5-color;
  color: #fff;
}

.panel-default>.panel-heading .badge.c6,
td .badge.c6 {
  background-color: $corporation6-color;
  color: #fff;
}

textarea {
   resize: none;
}

.table>thead>tr>th {
    border-bottom: none;
}

.table>tbody>tr>td {
    border-top: none;
}

.navbar-brand small {
    font-size: 60%;
}

// Footer styles

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
footer .container {
    width: auto;
    padding: 0 15px;
}
footer .container .text-muted {
    margin: 20px 0;
}  

#curtain {
    opacity: 0.5;
}