.empty {
    fill: #888;
}

.tile {
    fill: black;
    cursor: pointer;
}

.unincorporated {
    fill: #ccc;
    /*stroke: black;*/
}

.c0{
    fill: #f00;
}

.c1{
    fill: #fdd017;
}

.c2{
    fill: #ffa500;
}

.c3{
    fill: #0f0;
}

.c4{
    fill: #00f;
}

.c5{
    fill: #800080;
}

.c6{
    fill: #40e0d0;
}

#board {
  fill: #555;
}
