.empty {
    fill: #888;
}

.tile {
    fill: black;
    cursor: pointer;
}

.unincorporated {
    fill: #ccc;
    /*stroke: black;*/
}

.sackson{
    fill: #f00;
}

.zeta{
    fill: #fdd017;
}

.hydra{
    fill: #ffa500;
}

.fusion{
    fill: #0f0;
}

.america{
    fill: #00f;
}

.phoenix{
    fill: #800080;
}

.quantum{
    fill: #40e0d0;
}

#board {
  fill: #555;
}
