svg .empty {
    fill: #888;
}

svg .tile {
    fill: #966F33;
    cursor: pointer;
}

svg .unincorporated {
    fill: #ccc;
}

svg .c0{
    fill: #f00;
}

svg .c1{
    fill: #fdd017;
}

svg .c2{
    fill: #ffa500;
}

svg .c3{
    fill: #0f0;
}

svg .c4{
    fill: #00f;
}

svg .c5{
    fill: #800080;
}

svg .c6{
    fill: #40e0d0;
}

svg #board {
  fill: #555;
}

.c0{
    color: #f00;
}

td.c0, .btn-c0 {
  background-color: #f00;
  color: #fff;
}

.c1{
    color: #fdd017;
}

td.c1, .btn-c1 {
  background-color: #fdd017;
  color: #fff;
}

.c2{
    color: #ffa500;
}

td.c2, .btn-c2 {
  background-color: #ffa500;
  color: #fff;
}

.c3{
    color: #0f0;
}

td.c3, .btn-c3 {
  background-color: #0f0;
  color: #fff;
}

.c4{
    color: #00f;
}

td.c4, .btn-c4 {
  background-color: #00f;
  color: #fff;
}

.c5{
    color: #800080;
}

td.c5, .btn-c5 {
  background-color: #800080;
  color: #fff;
}

.c6{
    color: #40e0d0;
}

td.c6, .btn-c6 {
  background-color: #40e0d0;
  color: #fff;
}
